<header>
  <div id="menu-hamburguer" (click)="openDrawer()">
    <div class="barra-menu"></div>
    <div class="barra-menu"></div>
    <div class="barra-menu"></div>
  </div>

  <h1>DevLeo</h1>

  <h3 id="domain">devleo.com</h3>
</header>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer mode="over">
    <mat-nav-list>
      <a mat-list-item (click)="callHome()">
        <mat-icon>home</mat-icon>
        Início
      </a>
    </mat-nav-list>
  </mat-sidenav>
</mat-sidenav-container>
